* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: white;
    max-width: 1920px;
    margin: 00px;
}

/* Header Styles */

header {
    background-color: white;
    /*padding: 20px 20px;*/
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.navbar {
    max-width: 1920px;
    height: 90px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 0px 112px;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo {
    color: #000;
    font-size: 25px;
    margin-left: 100px;

}

.logo span {
    color: white;
    padding: 5px 6px;
    border-radius: 50%;
    background-color: #A53DFF;

}

.nav_Container ul {
    list-style: none;
    margin-right: 11rem;
    padding: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav_Container ul li {

    margin: 0px 17px;
    position: relative;

}

.nav_Container a {
    text-decoration: none;
    color: #000;
    padding: 8px 12px;
    display: inline-block;
}

.nav_Container a:hover {
    background-color: #ddd;
    border-radius: 4px;
}

.subnav-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #eee;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.subnav-content a {
    display: block;
    padding: 10px 15px;
    color: #333;
}

.subnav-content a:hover {
    background-color: #fff;
    color: #777;
}
.subnav:hover .subnav-content {
    display: block;
}

.nav_Container .buttons a {
    background-color: #A53DFF;
    border-radius: 14px;
    padding: 8px 16px;
    margin-top: 10px;
    margin-bottom: 11px;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.nav_Container .buttons a:hover {
    background-color: #A53Dcc;
    color: white;
}


/*main part -------------------------------------------*/

.main_page {
    display: flex;
    background: linear-gradient(to right, white, #DDF2EA);
    color: black;
    padding: 0px 112px;
}

.left_side {
    flex: 2;
    margin-top: 8rem;
    margin-left: 7rem;
}

.left_subside {
    width: 648px;
    height: 336px;
    flex-direction: column;
    gap: 20px;
    display: flex;
}

.left_subside h1 {
    font-size: 50px;
    font-weight: 700;
    color: #222;
    width: 648px;
    height: 120px;
}

.left_subside h1 span {
    font-weight: 800;
}

.left_subside p {
    font-size: 15.5px;
    color: #666;
    width: 550px;
    height: 72px;
}

.button1 a {
    background-color: #A53DFF;
    border-radius: 10px;
    padding: 12px 16px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    width: 126px;
    height: 48px;
}

.button1 a:hover {
    background-color: #A53Dcc;
    color: white;
}
.experience:hover {
     color: white;
    transform: translateY(-5px);
}
.right_side {
    /*background: linear-gradient(to right, white, #DDF2EA);*/
}

.experience {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
    width: 648px;
    height: 120px;
    gap: 10px;
    align-items: center;
}

.experience>.year,
.Complete,
.Happly {
    background-color: #f2f2f2;
    color: #000;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.main_image img {
    width: 336px;
    height: 436px;
    filter: brightness(1.4);
    margin-top: 8.7rem;
    margin-right: 17rem;
    border: 2px solid #999;
    border-radius: 8px;
    transform: translateY(-6px);
}

.main_image:hover {
    
    color: white;
    transform: translateY(-5px);

}

/*i am  professomer------------------------------------------*/

.profession {
    max-width: 1920px;
    background: linear-gradient(to right, white, #DDF2EA);
}

.profession1 {
    display: flex;
    /*flex-wrap: wrap;*/
    width: 1320px;
    height: 700px;
    margin-top: 5rem;
    gap: 4.8rem;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
    padding: 0px 112px;
}

.profession_image img {
    width: 380px;
    height: 490px;
    filter: brightness(1.2);
    margin-left: 10rem;
    border: 1px solid #999;
    border-radius: 8px;
    margin-top: 5rem;
}
.profession_image:hover {
    
    color: white;
    transform: translateY(-5px);

}

.social-icons {
    display: flex;
    color: #ccc;
    width: 250px;
    height: 50px;
    border: 2px dotted #A53DFF;
    margin-left: 13rem;
    justify-content: center;
    gap: 15px;

}

.social-icons a {
    color: #A53DFF;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
    font-size: 23px;
    text-decoration: none;
    transition: 0.3s ease;
}

.social-icons a:hover {
    background: #ffffff;
    color: #1b1f24;
}

.profession_right {
    margin-top: 7rem;
}

.profession_right h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 2rem;
    color: #444;
    width: 536px;
    height: 100px;
}

.profession_right h1 span {
    font-weight: 700;
}

.profession_right p {
    font-size: 15.5px;
    color: #666;
    margin-top: 10px;
    width: 536px;
    height: 60px;
}

.btn {
    display: flex;
    margin-top: 14px;
    gap: 1rem;
    width: 338px;
    height: 48px;
}

.button_p a {
    background-color: #A53DFF;
    border-radius: 8px;
    padding: 11px 15px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.button_d a {

    border-radius: 8px;
    padding: 11px 15px;
    color: #A53DFF;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #A53DFF;
}

.button_p a:hover {
    background-color: #A53Dcc;
    color: white;
}

.button_d a:hover {
    background-color: #A53DFF;
    color: white;
}

/*/*Work process-----------------------------------*/

.work_process {
    max-width: 1920px;
    max-height: 894px;
    background: linear-gradient(to right, white, #DDF2EA);
    margin-top: 2rem;
}

.work_process1 {

    display: flex;
    margin-top: 0rem;
    width: 1320px;
    height: 600px;
    padding: 0px 112px;
    gap: 5px;

}

.work_left {

    margin-left: 8rem;
    margin-top: 14rem;

}

.work_left h1 {
    width: 529px;
    height: 55px;
    font-size: 30px;
    color: black;

}

.work_left p {
    width: 529px;
    height: 160px;
    font-size: 14px;

    line-height: 1.3rem;
    color: #111;
}

.work_right {
    width: 640px;
    height: 460px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-top: 6rem;
    margin-left: 2rem;

}

.research {
    padding: 20px;
    width: 300px;
    height: 210px;
    background-color: white;
    border-radius: 7px;

}

.analyze {
    padding: 20px;

    width: 300px;
    height: 214px;
    background-color: white;
    border-radius: 7px;
}

.design {
    padding: 20px;

    width: 300px;
    height: 210px;
    background-color: white;
    border-radius: 7px;
}

.launch {
    padding: 20px;

    width: 312px;
    height: 215px;
    background-color: white;
    margin-top: .4rem;
    border-radius: 5px;
}

.research i,
.analyze i,
.design i,
.launch i {

    background-color: #f2f2f2;
    padding: 4px 5px;

}

.research .fa-solid,
.analyze .fa-solid,
.design .fa-solid,
.launch .fa-solid {
    color: #A53DFF;
    font-size: 35px;
}


.research h3,
.analyze h3,
.design h3,
.launch h3 {
    font-size: 23px;
    margin-top: 1rem;
    color: #111;
}

.research p,
.analyze p,
.design p,
.launch p {
    margin-top: 1rem;
    font-size: 14px;
    color: #888;
}

.work_right:hover {
    transform: translateY(-5px);
    color: white;
}


/*Portfoli -----------------------------*/

.portfoli {
    margin-top: 5.4rem;
    /*background-color: white;*/
    padding: 0px 112px;
}

.portfoli_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.portfoli_head h1 {
    font-size: 35px;
    font-weight: 600;
    color: #111;
    width: 205px;
    height: 56px;

}

.portfoli_head p {
    font-size: 15px;
    color: #444;
    width: 577px;
    height: 48px;

}


.portfoli_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1320px;
    height: 850px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.ui_1 img {
    width: 395px;
    height: 248px;

}

.ui_1 {
    width: 400px;
    height: 390px;
    background-color: #f2f2f2;

}

.ui_1:hover {
    transform: translateY(-6px);
    color: white;
}

.ui_2 {
    width: 340px;
    height: 164px;
    text-align: left;
    padding: 10px;
    margin-left: 2rem;
    color: black;
}

.ui_2 h5 {
    color: #888;
    font-size: 11px;
    height: 16px;
}

.ui_2 h2 {
    color: #111;
    font-size: 15px;
    height: 24px;
}

.ui_2 p {
    color: #777;
    font-size: 12px;
    height: 40px;
}

.ui_2 button {
    border: 1px solid #A53DFF;
    font-size: 15px;
    padding: 10px 15px;
    color: #A53DFF;
}

.ui_2 button:hover {
    background-color: #A53DFF;
    color: white;
    cursor: pointer;
}


.case {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.case button {
    background-color: #a53DFF;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.case button:hover {
    background-color: #A53Daa;
}

/*lets work together ---------------------------*/


.work_together {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #132238;
    height: 380px;
    margin-top: 1rem;

}

.work_together h1 {
    font-size: 35px;
    align-items: center;
    color: white;
    width: 650px;
    height: 112px;
}

.work_together p {
    font-size: 15px;

    color: #888;
    width: 577px;
    height: 48px;
}

.work_together button {
    color: white;
    font-size: 20px;
    background-color: #a53DFF;
    width: 240px;
    height: 48px;
    align-items: inherit;
    border-radius: 5px;
    border: none;

}

.work_together button:hover {
    background-color: #A53Daa;
    cursor: pointer;
}


/*-- blogs card -------------------------*/

.blog-heading {
    font-size: 33px;
    text-align: center;
    color: #111;
    margin-top: 2rem;
}

.blog-subheading {
    font-size: 14px;
    color: #888;
    text-align: center;
    padding: 20px 10px;
}

.slider-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0px 112px;

}

.cards {
    width: 312px;
    height: 320px;
}

.cards:hover {
    transform: translateY(-6px);
    cursor: pointer;
}

.cards img {
    width: 312px;
    height: 226px;
}

.blog-card1 {
    width: 264px;
    height: 76px;
    padding: 10px;
}

.tag_date {
    color: #666;
    font-size: 12px;
    height: 20px;
}

.Aproch {
    font-size: 16px;
    color: #333;

}


/*<!-- what i do ------------------------------->*/



.what_do {
    max-width: 1920px;
    display: flex;
    margin-top: 4rem;
    width: 1500px;
    height: 600px;
    padding: 0px 112px;
    background-color: #f2f2f2;
    /*background: linear-gradient(to left, white, #DDF2EA);*/
    gap: 20px;
}

.what_left {
    width: 530px;
    height: 240px;
    margin-left: 6rem;
    padding: 10rem 8px;

    color: #222;
}

.what_left h1 {
    font-size: 35px;

}

.what_left p {
    font-size: 15px;
    margin-top: 1rem;

}

.button_h button {
    font-size: 15px;
    margin-top: 2.5rem;
    background-color: #a53DFF;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
}

.button_h button:hover {
    background-color: #A53Daa;
    cursor: pointer;
}

.what_right {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 6rem;
    grid-row-gap: 10px;
    color: #222;

}

.ux {
    background-color: white;
    padding: 20px;
    border-radius: 3px;
}

.ui {
    background-color: white;
    padding: 20px;
    border-radius: 3px;
}

.web {
    background-color: white;
    padding: 20px;
    border-radius: 3px;
}


/*<!-- Happpy Client ----------------------------->*/

.happly-heading {
    font-size: 38px;
    text-align: center;
    color: #222;
    margin-top: 5rem;
    height: 56px;
}

.happly-subheading {
    padding: 10px 30px;
    font-size: 14px;
    color: #888;
    text-align: center;
    height: 48px;

}

.logo_container {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    width: 1320px;
    justify-content: space-between;
    gap: 2px;
    padding: 0px 112px;

}

.logo img {
    width: 200px;
    height: 180px;
}

.logo:hover {
    transform: translateY(-5px);
    cursor: pointer;
}



/*<!-- testimonial ---------------------->*/


.testimonial-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background-color: #132238;*/
    height: 380px;

}

.testimonial-heading {
    font-size: 36px;
    color: #000;
    width: 274px;
    height: 59px;
}

.testimonial-subheading {
    font-size: 14px;
    color: #888;
    width: 550px;
    height: 52px;
}

.main_word {
    font-size: 14px;
    color: #333;
    width: 772px;
    height: 80px;
    font-weight: 300;
}

.name {
    font-size: 20px;
    color: #111;
    width: 131px;
    height: 27px;

}

.sub_name {
    font-size: 14px;
    color: #888;
    width: 133px;
    height: 26px;
    font-weight: 200;
}

.dot-wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
    transition: background-color 0.3s ease;
    opacity: 0.5;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
    opacity: 1;
}



/*let discussion project----------------------------*/

.get_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /*flex-wrap: wrap;*/
    gap: 8px;
    padding: 0px 112px;
    margin-top: 1rem;
    background-color: ;
}

.get_content {
    flex: 1;
    min-width: 480px;
    max-width: 600px;
    margin-top: 5rem;
    /*background-color: #0d1c2c;*/
    height: 39rem;
    padding-top: 4rem;
    border-radius: 4px;
    margin-left: 7rem;

}

.get_content h5 {
    font-size: 14px;
    margin-left: 3rem;
    color: #666;
}

.get_content h1 {
    font-size: 33px;
    margin-left: 3rem;
    color: #111;
    margin-top: 1.4rem;
    height: 50px;
}


.get-box {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    max-width: 300px;
    margin-top: 2rem;
    margin-left: 3rem;

}

.icon-get {
    background-color: #a53DFF;
    padding: 15px;
    border-radius: 12px;
    color: #f2f2f2;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.text-get h4 {
    margin: 0 0 6px;
    font-size: 18px;
    color: #666;


}

.text-get p {
    margin: 0;
    color: #666;
    font-size: 14px;
    line-height: 1.7;
}

.get_socialicons {
    width: 288px;
    height: 48px;


    font-size: 25px;
    margin: 2rem 4rem;


}

.get_socialicons i {
    color: #a53DFF;
    gap: 10px;
    padding: 17px;
}



.container {
    background-color: white;
    padding: 3.5rem;
    border-radius: 10px;
    width: 550px;
    height: 40rem;
    margin-right: 10rem;
    /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);*/
    margin-top: 7rem;
}

.from_head {
    color: #555;
}

form {
    display: flex;
    flex-direction: column;


}

.form-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

.form-group {
    display: flex;
    flex-direction: column;

}

input[type="text"],
input[type="number"],
textarea {
    border: none;
    padding: 10px;
    border-bottom: 1px solid #a53DFF;
    border-top: 1px solid white;
    color: white;
    font-size: 14px;


}

input[type="submit"] {
    background-color: #a53DFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
}

.form-group {
    gap: 1px;

}


/*footer*/


footer {
    background-color: #132238;
    color: #fff;
    padding: 40px 20px;
}

.footer_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.logo1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.logo1 span {
    color: white;
    padding: 5px 6px;
    border-radius: 50%;
    background-color: #A53DFF;
}

.footer_menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 5rem;
    padding: 0;
}

.footer_menu li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer_menu li a:hover {
    color: #fff;
}